<footer class="bg-light text-center text-white">
    <!-- Grid container -->
    <div class="container py-3 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <div class="icons_container">
          <div class="icon facebook">
             <div class="tooltip">
                Facebook
             </div>
             <span><i class="fab fa-facebook-f"></i></span>
          </div>
          <div class="icon twitter">
             <div class="tooltip">
                Twitter
             </div>
             <span><i class="fab fa-twitter"></i></span>
          </div>
          <div class="icon instagram">
             <div class="tooltip">
                Instagram
             </div>
             <span><i class="fab fa-instagram"></i></span>
          </div>
          <div class="icon github">
             <div class="tooltip">
                Github
             </div>
             <span><i class="fab fa-github"></i></span>
          </div>
          <div class="icon youtube">
             <div class="tooltip">
                YouTube
             </div>
             <span><i class="fab fa-youtube"></i></span>
          </div>
       </div>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">mylibrary.com</a>
    </div>
    <!-- Copyright -->
  </footer>